body {
    background-color: #E9967A;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    margin: auto;
}

nav > p {
    margin: 5px 0px 0px 6px;
}

.container {
    display: flex;
  justify-content: center;
}

.logo img {
    height: 50px;
    width: 50px;
    padding-top: 10px;
}   

main {
    font-weight: bold; 
}



main p {
    text-align: center;
    max-width: 340px;
    margin: auto;
    font-size: 1.1em;
}

footer {
    color: white;
    background-color: black;
    margin-top: auto;
    text-align: center;
    font-weight: bold;
}