
body {
    background-color: #E9967A;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    margin: auto;
}

.container {
    display: flex;
  justify-content: center;
}

.logo img {
    height: 50px;
    width: 50px;
    padding-top: 10px;
}   

main {
    font-weight: bold; 
    overflow-y: auto;
}



main p {
    text-align: center;
    max-width: 340px;
    margin: auto;
    font-size: 1.1em;
}

footer {
    margin-top: auto;
}