
body {
    background-color: #E9967A;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


#container {
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



#receita1 {
    background-color: #F9FAD2;
    width: 260px;
    margin: 0px 60px 0px 0px;
}

#receita1 > h1 {
    font-size: 1.6em;
    text-align: center;
}


#couve {
    padding: 0px 5px 0px 10px;
    height: 140px;
    width: 230px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}


#receita1 > p {
    padding: 0px 10px 10px 8px;
    text-align: center;
}


#receita2 {
    background-color: #F9FAD2;
    width: 260px;
    margin: 0px 60px 0px 0px;
}

#receita2 > h1 {
    font-size: 1.6em;
    text-align: center;
}

#bolo {
    padding: 0px 7px 0px 7px;
    height: 140px;
    width: 230px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

#receita2 > p {
    padding: 0px 10px 10px 8px;
    text-align: center;
}

#receita3 {
    background-color: #F9FAD2;
    width: 260px;
    margin: 0px 60px 0px 0px;
}

#receita3 > h1 {
    font-size: 1.6em;
    text-align: center;
}

#coxinha {
    padding: 0px 7px 0px 7px;
    height: 140px;
    width: 230px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

#receita3 > p {
    padding: 0px 10px 10px 8px;
    text-align: center;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bold; 
    margin-top: auto;
}




